<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <title>Pomoc: Metoda oparta o interwały czasowe</title>
</head>
<body>
    <div class="container">
        <h1>Pomoc: Metoda oparta o interwały czasowe</h1>
        <div class="section">
            <h2>Ukryty kanał czasowy</h2>
            <p>
                Ukryty kanał czasowy przesyła dane za pomocą różnic czasowych pomiędzy kolejno przychodzącymi pakietami protokołu ICMP. Czas między żądaniami lub odpowiedziami jest interpretowany jako bit: np. 2 s = "1", 1 s = "0".
            </p>
        </div>
        <div class="section">
            <h2>Jak używać?</h2>
            <ol>
                <li><strong>Uruchom kartę serwera serwera</strong></li>
                <li><strong>Uruchom kartę klienta.</strong> W razie potrzeby dostosuj adres IP oraz interfejs sieciowy.</li>
                <li><strong>Przygotuj wiadomość</strong> Wprowadź sekretną wiadomość do formularza.</li>
                <li><strong>Odbierz wiadomość</strong> Uruchom kartę serwera i wyświetl tajną wiadomość.</li>
            </ol>
        </div>
        <div class="buttons">
            <a href="/method_2" class="button">Powrót</a>
        </div>
    </div>
</body>
</html>
