<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    </head>
<body>
    <div class="help-icon">
        <span class="tooltip-text">
            Help page
        </span>
        ?
    </div>
    <div class="container">
        <div>
            <h1>Nasłuchuję obecnie na interfejsie {{ iface }}:<br /></h1>
            <div>
                <form action="/method_2/server" method="POST">
                    <br />
                    <label for="iface">Interfejs do nasłuchwiania:</label>
                    <input type="text" id="iface" name="iface" required>
                    <button class="button" type="submit">Rozpocznij</button>
                </form>
                <p>Odebrano wiadomość: {{ response }}</p>
            </div>
        </div>
        <a href="/method_2">Powrót</a>
    </div>
</body>
</html>